body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #38bdf8;
    color: #0f172a;
    transition: 0.3s;
}

button:hover {
    background: #33a5da;
}